@import url("./fonts.css");
body {
  margin: 0;
  background-image: url("../img/background/snobbyBG.jpg");
  opacity: 1;
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: "Avara";
}

h1 {
  text-align: center;
  font-size: 6rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
  font-family: "Avara Black";
  text-decoration: none;
}

p {
  font-family: "Karrik Regular";
  font-size: 1.3rem;
}

.contact-div,
.about-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  border-radius: 6px;
}

.contact-div h3,
p {
  color: whitesmoke;
  text-align: center;
}

.menu {
  display: grid;
  grid-template-columns: repeat(1, auto) minmax(200px, auto);
  grid-template-rows: repeat(1, auto);
  grid-auto-flow: dense;
  background-color: black;
  opacity: 0.8;
  gap: 10px;
}
.menuItem {
  padding: 15px;
  transition: 2s ease-in;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.tabmenu {
  display: flex;
  justify-content: center;
  background-color: black;
}

.food-img {
  box-shadow: 5px 7px 15px rgb(26, 25, 25);
  border-radius: 5px;
  height: 200px;
  width: 200px;
  min-width: 200px;

  opacity: 1;
}

.btn {
  border: none;
  margin: 10px;
  padding: 10px 45px 5px 45px;
  font-family: "Avara";
  font-size: 1.5rem;
  color: white;
  background-color: black;
}

.btn:hover {
  cursor: pointer;
  transition: 0.2s linear;
  background-color: white;
  border-radius: 5px;

  color: black;
}

@media (max-width: 900px) {
  .menu {
    grid-template-columns: minmax(100px, auto);
  }
  p {
    font-size: 0.85rem;
  }
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .tabmenu button {
    flex-basis: 40px;
    font-size: 0.8rem;
  }
}
